<div class="flex gap-5 flex-col md:flex-row flex-wrap">
    <div class="w-full flex mt-2">
        <p-button class="lg:m-auto fixed right-5 bottom-5 lg:relative z-10" routerLink="/songs/add-song">
            <span class="hidden lg:block">Add song</span>
            <span class="material-symbols-rounded lg:hidden ">
                add
            </span>
        </p-button>
    </div>

    @for (song of songs$ | async; track $index) {
    @defer{
    <osea-card-song [song]="song" />
    }@loading {
    <div> <osea-card-song-skelleton /></div>
    }
    @error {
    Something went wrong
    }
    } @empty {
    @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
    <osea-card-song-skelleton />
    }
    }
</div>